<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ChyEmbeddables</title>

		<style>
			* {
				box-sizing: border-box;
			}
			html, body, .content {
				margin: 0;
				padding: 0;
				height: 100%;
			}
			body {
				display: flex;
			}
			.content {
				flex: 1;
			}
		</style>
	</head>
	<body>
		<div id="content" class="content"></div>

		<% htmlWebpackPlugin.files.js.forEach(function (src) { %>
			<script src="<%= src %>"></script>
		<% }) %>

		<script>
			ChyEmbeddables.graphic(document.getElementById('content'), {
			    url: 'http://localhost:8081/chystat',
                graphicId: PUT_GRAPHIC_ID_HERE,
				locale: 'cs'
			});
		</script>
	</body>
</html>